.tag-navigation {
  padding: 0 24px;
  margin: 0 0 32px 0;
}

.tag-navigation__headline {
  font-weight: var(--fs-bold);
  font-size: 16px;
  margin: 0 0 12px 0;
}

.tag-navigation__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.tag-navigation__list-item {
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid var(--clr-neutral-200);
  border-radius: 18px;
}

.tag-navigation__list-item--active {
  border: 1px solid var(--clr-secondary);
  background: var(--clr-secondary);
}
