.profile__image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 2px solid #f62e8e;
  position: absolute;
  right: calc(50vw - 4rem);
  top: calc(20vh - 4rem);
}

.profile__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 10rem;
  align-items: center;
  gap: 6rem;
}

.profile__description {
  text-align: center;
  min-height: 10rem;
}

.profile__description--name {
  font-weight: var(--fs-bold);
}

.profile__description--city {
  font-weight: var(--fw-regular);
}

.profile__container {
  width: 100%;
  background-color: var(--clr-neutral-400);
}

.profile__hero {
  min-height: 20vh;
  background-image: url(https://images.unsplash.com/photo-1576158114131-f211996e9137?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80);
  position: relative;
}
