<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile component</title>
    <link rel="stylesheet" href="../../styles.css" />
  </head>
  <body>
    <header class="profile__header">
      <div class="profile__container">
        <div class="profile__hero"></div>
        <img
          class="profile__image"
          src="https://images.unsplash.com/photo-1497994187231-bc847a69dc76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80"
          alt="profile image"
        />
      </div>
      <ul class="profile__description" role="list">
        <li class="profile__listitem bold">Jane Doe</li>
        <li class="profile__listitem thin">Brooklyn, NY</li>
        <li class="profile__listitem">Happy Manager</li>
      </ul>
      <section class="profile__nav">
        <article class="profile__followers">
          <p>2,467</p>
          <p class="thin">Followers</p>
        </article>
        <article class="profile__followers">
          <p>1,586</p>
          <p class="thin">Following</p>
        </article>
        <button class="profile__edit">Edit Profile</button>
      </section>
    </header>
  </body>
</html>
