.profile__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 10rem;
  align-items: center;
  gap: 1rem;
}

.profile__container {
  width: 100%;
  background-color: var(--clr-neutral-400);
}

.profile__hero {
  min-height: 30vh;
  background-image: url(https://images.unsplash.com/photo-1576158114131-f211996e9137?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80);
  position: relative;
}

.profile__image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 2px solid #f62e8e;
  position: absolute;
  right: calc(50vw - 4rem);
  top: calc(30vh - 4rem);
}

.profile__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 0.5rem;
}

.profile__nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.profile__edit {
  background-color: var(--clr-neutral-400);
  border: 1px solid var(--clr-neutral-100);
  color: var(--clr-neutral-100);
  padding: 0.8rem 2.5rem;
  border-radius: 40px;
}
