.tab-navigation {
  border-bottom: 1px solid var(--clr-neutral-200);
  margin: 0 0 32px 0;
}

.tab-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.tab-navigation__link {
  display: inline-block;
  color: var(--clr-neutral-100);
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0;
}

.tab-navigation__link--active {
  position: relative;
}

.tab-navigation__link--active::after {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  background: var(--clr-secondary);
}
