<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Reel Component</title>
    <link rel="stylesheet" href="../../styles.css" />
  </head>
  <body>
    <section class="image-reel">
      <ul class="image-reel__list">
        <li class="image-reel__item">
          <img
            class="image-reel__image"
            src="https://source.unsplash.com/random/100x140?architecture"
            alt="some reel image"
          />
          <div class="image-reel__profile">
            <img
              class="image-reel__profile-image"
              src="https://source.unsplash.com/random/32x32?people,architecture"
              alt="some profile image"
            />
          </div>
        </li>
        <li class="image-reel__item">
          <img
            class="image-reel__image"
            src="https://source.unsplash.com/random/100x140?experimental"
            alt="some reel image"
          />
          <div class="image-reel__profile">
            <img
              class="image-reel__profile-image"
              src="https://source.unsplash.com/random/32x32?people,experimental"
              alt="some profile image"
            />
          </div>
        </li>
        <li class="image-reel__item">
          <img
            class="image-reel__image"
            src="https://source.unsplash.com/random/100x140?nature"
            alt="some reel image"
          />
          <div class="image-reel__profile">
            <img
              class="image-reel__profile-image"
              src="https://source.unsplash.com/random/32x32?people,nature"
              alt="some profile image"
            />
          </div>
        </li>
        <li class="image-reel__item">
          <img
            class="image-reel__image"
            src="https://source.unsplash.com/random/100x140?fashion"
            alt="some reel image"
          />
          <div class="image-reel__profile">
            <img
              class="image-reel__profile-image"
              src="https://source.unsplash.com/random/32x32?people,fashion"
              alt="some profile image"
            />
          </div>
        </li>
        <li class="image-reel__item">
          <img
            class="image-reel__image"
            src="https://source.unsplash.com/random/100x140?film"
            alt="some reel image"
          />
          <div class="image-reel__profile">
            <img
              class="image-reel__profile-image"
              src="https://source.unsplash.com/random/32x32?people,film"
              alt="some profile image"
            />
          </div>
        </li>
        <li class="image-reel__item">
          <img
            class="image-reel__image"
            src="https://source.unsplash.com/random/100x140?interiors"
            alt="some reel image"
          />
          <div class="image-reel__profile">
            <img
              class="image-reel__profile-image"
              src="https://source.unsplash.com/random/32x32?people,interiors"
              alt="some profile image"
            />
          </div>
        </li>
      </ul>
    </section>
  </body>
</html>
